@import "styles/settings/__settings";

.containerPost {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  max-width: 1100px;
  margin: 0 auto;
  padding: 2em 1.5em 0 1.5em;
  font-size: 1.2rem;

  figure {
    margin-bottom: 1.5em;
  }

  div p::first-letter {
    float: left;
    font-family: Georgia, serif;
    font-size: 4rem;
    line-height: 60px;
    padding: 5px;

    @media screen and (max-width: 980px) {
      padding: 3px 3px 55px 3px;
    }
  }

  div p {
    font-size: 1.1rem !important;
    font-weight: 600;
    max-width: 950px;
  }

  h2,
  h3,
  h4,
  p,
  ul {
    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  @media (max-width: 980px) {
    flex-wrap: wrap-reverse;
    padding: 1.6em 1em 0.6em 1em;

    div p {
      font-size: 1.2rem !important;
    }
  }
}
