@import "../../styles/settings/_typography.scss";
@import "../../styles/settings/__settings.scss";

/* Top Post Page */
.articleStructure {
  margin-bottom: 1.5rem;

  @media screen and (max-width: 980px) {
    font-size: 1.2rem;
    padding: 2rem 0 0 1rem;
  }

  .tableOfContent {
    font-family: $font-family-headers;
    font-size: 1.3rem;
    font-weight: bold;
    padding-bottom: 5px;
    border-bottom: 1px solid $border-gray-050;

    @media screen and (max-width: 980px) {
      font-size: 1.8rem;
    }
  }

  ul {
    border-left: 5px solid $color-primary;
    list-style: none;
    padding-left: 0.85rem;
  }

  ul li {
    font-size: 0.9rem;
    padding: 0.25rem;

    @media screen and (max-width: 980px) {
      font-size: 1.2rem;
      padding: 0.5rem;
    }
  }
}
