.contentPost {
  display: flex;
  align-items: flex-start;
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 1.5em 0 1.5em;
  flex-direction: row-reverse;

  @media screen and (max-width: 980px) {
    display: block;
    padding: 1em;
  }

  aside {
    background-color: #f5f5ff;
    box-shadow: 0 1px 3px rgb(0 0 0 / 9%), 0 2px 6px rgb(0 0 0 / 9%), 0 3px 8px rgb(0 0 0 / 15%);
    border-radius: 15px;
    flex-basis: 35%;
    position: sticky;
    top: 66px;
    padding: 0 0.8em;
    margin-left: 1em;
    margin-top: 1em;

    @media screen and (max-width: 980px) {
      position: initial;
      display: block;
      top: 0;
      padding: 1em;
      margin-bottom: 1em;
      margin-left: 0;
      margin-top: 0;
    }
  }
}
