@import "styles/settings/__settings";
@import "styles/settings/_colors";
@import "styles/components/_container";

.headerPost {
  color: #11171a;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 2 1'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='0' x2='0' y1='0' y2='1'%3E%3Cstop offset='0' stop-color='%23D5DCF4'/%3E%3Cstop offset='1' stop-color='%23FFFFFF'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='0' y1='0' x2='0' y2='1'%3E%3Cstop offset='0' stop-color='%23FFFFFF' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23FFFFFF' stop-opacity='1'/%3E%3C/linearGradient%3E%3ClinearGradient id='c' gradientUnits='userSpaceOnUse' x1='0' y1='0' x2='2' y2='2'%3E%3Cstop offset='0' stop-color='%23FFFFFF' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23FFFFFF' stop-opacity='1'/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect x='0' y='0' fill='url(%23a)' width='2' height='1'/%3E%3Cg fill-opacity='0.5'%3E%3Cpolygon fill='url(%23b)' points='0 1 0 0 2 0'/%3E%3Cpolygon fill='url(%23c)' points='2 1 2 0 0 0'/%3E%3C/g%3E%3C/svg%3E");
  background-size: cover;

  &::before {
    content: "";
    position: absolute;
    width: 200%;
    height: 200%;
    top: -50%;
    left: -50%;
    z-index: -1;
  }

  figure {
    padding: 5px 0 0 0;
    @media (max-width: 980px) {
      padding: 10px 0 0 0;
    }
  }

  // @media (max-width: 980px) {
  //   padding: 1.5rem 1rem 1rem 1rem;
  // }

  div {
    flex-basis: 100%;

    ul > li {
      text-align: left;
      justify-content: left !important;
    }

    h1 {
      margin: 0;
      font-weight: 800;
      padding-top: 0.4rem;
      line-height: 1.16;
      // text-align: left;
      // background-image: linear-gradient(120deg, $color-primary-light3 0%, $color-primary-light2 50%);
      // background-repeat: no-repeat;
      // background-size: 85% 0.07em;
      // background-position: 0 0%;
      // text-align: center;
      font-size: 3rem;
      text-align: center;

      @media (max-width: 980px) {
        font-size: 2.5rem;
      }
    }

    p {
      margin: 20px 0 10px 0 !important;
      font-size: 1rem;
      color: #2c2b27;
    }

    @media (min-width: 480px) {
      font-size: 1rem;
    }

    a {
      &:hover,
      &:focus,
      &:active {
        text-decoration: none;
      }
    }
  }

  p {
    &:last-child {
      margin-bottom: 0;
    }
  }
}
