$color-secondary: #4eb72f;
$color-secondary-light1: #b2e7a3;
$color-secondary-light2: #88da70;
$color-secondary-light3: #5fce3e;
$color-secondary-dark1: #45a22a;
$color-secondary-dark2: #3b8b24;
$color-secondary-dark3: #347a1f;

$color-primary: #2f4eb7;
$color-primary-light1: #93a5e3;
$color-primary-light2: #607bd6;
$color-primary-light3: #3e5fcd;
$color-primary-dark1: #2c49ac;
$color-primary-dark2: #2a46a5;
$color-primary-dark3: #274097;

$color-background-050: #edf0fc;
$color-main-background: #edf0fc;

$border-gray-050: #eff0f1;
$border-gray-100: #bcbcbc;

$color-black-050: #eff0f1;
$color-black-300: #9fa6ad;
$color-black-800: #242729;
$color-black-899: #0b1321;
$color-black-900: #090b0d;

$color-gray-50: #eef0f3;
$color-gray-100: #cfd7de;
$color-gray-200: #b1bdca;
$color-gray-300: #93a3b5;
$color-gray-400: #7589a0;
$color-gray-500: #5c7086;
$color-gray-600: #475768;
$color-gray-700: #333e4a;
$color-gray-800: #1e242b;
$color-gray-850: #646464;

$color-button-amazon: #f29b30;
$color-button-border-amazon: #df8600;
